/*

# .programms.txt
!/.programms.txt

# .gitignore
!/.gitignore

# My Scripts
!.my-scripts
!.my-scripts/*

# Alacritty
!/.alacritty.yml

# Xmonad
!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs

!/.zshrc
!/.xmobarrc
!/.xinitrc

!/.config
/.config/*

# Neovim
!/.config/nvim

# Clight
!/.config/clight.conf

# Termite
!/.config/termite

# Ranger
!.config/ranger
/.config/ranger/*
!/.config/ranger/rifle.conf

# MPV
!/.config/mpv
/.config/mpv/*
!/.config/mpv/mpv.conf

# Themes
!.themes
!.themes/*
