/*

# .gitignore
!/.gitignore

# Xmonad
!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs

!/.zshrc
!/.xmobarrc

!/.config
/.config/*

# Neovim
!/.config/nvim

# Termite
!/.config/termite

# Ranger
!.config/ranger
/.config/ranger/*
!/.config/ranger/rifle.conf

